---
---
@import "{{ site.theme }}";

.page-header {
  background: url("/IMG_4057.jpeg");
  background-size: cover;
  background-position: center;
  background-color: rgba(0,0,0,0.4);
  background-blend-mode: multiply;
}

.main-content a {
  color:#222;
  text-decoration:none;
}
.main-content a:hover {
  color:#222;
  text-decoration:underline;
}

.date-text{
  color:#777;
}
